:root {
    --white-smoke: #F7F7F7;
    --jet: #363636;
    --tart-orange: #9AD1D4;
    --platinum: #E5E5E5;
    --dark-green: #00BF6F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--platinum);
}

.content-box {
    background-color: var(--white-smoke);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

.content {
    color: var(--jet);
    margin: 25px;
}

.content-footer {
    margin: 25px;
    display: flex;
    justify-content: center;
}

.accept-button {
    background-color: var(--dark-green);
    font-size: 16px;
    font-weight: bold;
    color: var(--white-smoke);
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.accept-button:hover {
    background-color: #00d97e;
    border-color: #00d97e;
}

.accept-button:disabled {
    background-color: #b4bebe;
    border-color: #b4bebe;
}
